*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
  
    max-width: 1440px;
    margin: auto;
    background-color: #F5F5F5;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}
@media(max-width:498px){
  .background{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}